.idea
skprx/CMakeFiles
skprx/stubs
skprx/cmake_install.cmake
skprx/CMakeCache.txt
skprx/libvitapad_stub.a
skprx/libvitapad_stub_weak.a
skprx/Makefile
skprx/vitapad
skprx/vitapad.skprx
skprx/vitapad.skprx.out
skprx/vitapad.velf
vpk/CMakeFiles
vpk/resources/logo_active.png.o
vpk/resources/logo_inactive.png.o
vpk/cmake_install.cmake
vpk/CMakeCache.txt
vpk/Makefile
vpk/vitapad
vpk/vitapad.self
vpk/vitapad.self.out
vpk/vitapad.velf
vpk/vitapad.vpk
vpk/vitapad.vpk.out
vpk/vitapad.vpk_param.sfo